.contacts {
    width: 100%;
    padding-top: 148px;
    padding-bottom: 134px;
    .contacts-tab {
        width: 100%;
        background-color: #ececec;
        padding: 81px 0;
        .contact-form {
            margin-left: 111px;
            .form-heading {
                margin-top: 14px;
                margin-bottom: 6px;
                color: #2b2a3f;
                font-size: 32px;
                font-weight: 400;
            }
            .form-sub-heading {
                color: #a6598d;
                font-size: 17px;
                font-weight: 400;
                margin-bottom: 28px;
            }
            .form-input {
                display: block;
                box-sizing: border-box;
                width: 333px;
                min-width: 280px;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 2px;
                border: 1px solid rgba(208, 208, 208, 0.5);
                background-color: #e3e3e3;
                color: #787e8c;
                font-size: 15px;
                font-weight: 400;
            }
            .text-input {
                height: 158px;
            }
            .submit-btn {
                border-radius: 4px;
                background-color: #40c6ed;
                padding: 20px 40px;
                color: #ffffff;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
    .contacts-img {
        position: relative;
        img {
            display: block;
            position: absolute;
            top: -175px;
        }
    }
}