.features {
    width: 100%;
    background-color: #ececec;
    padding-top: 150px;
    padding-bottom: 185px;
    .features-heading-cover {
        display: flex;
        justify-content: center;
        margin-bottom: 115px;
        .features-heading-inner {
            .heading-question {
                color: #52516f;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 7px;
            }
            .heading-answer {
                color: #52516f;
                font-size: 72px;
                font-weight: 900;
            }
        }
    }
    .new-features {
        .features-subheading-cover {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            .features-subheading {
                color: #52516f;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 6px;
                &::after {
                    content: '';
                    display: block;
                    width: 374px;
                    height: 2px;
                    background-color: #d594c1;
                    margin: 0 auto;
                }
            }
        }
        .features-content-left {
            width: 100%;
            display: flex;
            justify-content: center;
            .features-content-img {
                width: 283px;
                height: 474px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .features-content-right {
            width: 100%;
            .features-list {
                max-width: 686px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .feature-item {
                    max-width: 307px;
                    padding-top: 69px;
                    .feature-item-heading {
                        color: #33324d;
                        font-size: 23px;
                        font-weight: 400;
                        margin-bottom: 26px;
                    }
                    .feature-item-text {
                        color: #52516f;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}